

/* NAVBAR */
.navbar-brand{
    margin-right: auto !important;
}
.navbar{
    padding: 0 !important;
    background-color: #ffffff;
}
.navbar-nav{
    margin-left: auto;
    border-radius: 10px;
}
.collapse{
    margin-top: 20px !important;
}
.contact{
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 0;
    height: 30px;
    font-size: small;
    color: #000000;
    text-decoration: none;
}
.contact-ico{
    margin: 10px;
    height: 25px;
}
.phone{
    position: absolute;
    top: 0;
    right: 250px;
}
.mail{
    position: absolute;
    top: 0;
    right: 10px;
}
.logo{
    height: 70px;
    width: 210px;
    background-color: white;
    border-radius: 10px;
}
.logo:hover{
    background-color: rgb(236, 255, 235);
    border-radius: 10px;
}
.nav-item{
    border-radius: 10px;
    letter-spacing: 0.5px;
    margin: 0 50px 0 50px;
}
.nav-item:hover{
    border-radius: 10px;
}
/* .nav-item a:after { 
    content: ''; 
    position: absolute; 
    width: 0; 
    transform: scaleX(0); 
    height: 3px; 
    bottom: -10px; 
    left: 0; 
    background-color:#00ff26; 
    transform-origin: right; 
    transition: 0.3s ease-out; 
  } 
   
  .nav-item a:hover:after { 
      width: 100%; 
    transform: scaleX(1); 
    transform-origin:  left; 
  } */
.navbar-toggler{
    margin: 3% 0 0 2%;
    background-color: rgb(255, 255, 255) !important;
}
.navbar-toggler:hover{
    background-color: #35AF58 !important;
}
 .dropdown-menu{
    background-color: #ffffff !important;
} 
.dropdown-item{
    text-align: center !important;
    color: rgba(51, 49, 49, 0.853)!important;
    background-color: #ffffff !important;
    border-radius: 10px !important;
    letter-spacing: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 40px;
}
.dropdown-item:hover{
    color: #35AF58 !important;
    border-radius: 10px;
}


.nav-link{
    padding: 0 !important;
    text-align: center;
    font-weight: 500 !important;
    border-radius: 10px;
    color: rgb(45, 45, 45) !important;
}
.nav-link:hover  {
    color: #35AF58 !important;
}

/* HEADING */

.headline{
    padding-top: 50px !important;
    padding-left: 4em !important;
    font-family: 'Montserrat', sans-serif;

    
}
.headline-quote{
    text-align: left;
    color: #35AF58!important;
    font-weight: 1000;
}

.intro{
    margin-top: 5%;
    text-align: left;
    color: #232323;
}

.quote{
    margin-top: 3%;
    font-size: 70%;
    text-align: left;
    color: #3a3a3a;
}

.by{
    text-align: right;
    font-size: 70%;
    margin-top: -10px;
    font-weight: 900;
    color: #074122;
    
}
/* CAROUSEL */

#carousel{
    background-color: aliceblue;
}
.fslide{
    height: 500px;
    width: 650px;
    padding: 0 !important;
    margin: 60px 0 0 50px !important;
}
.btn{
    margin: 5%;
    font-weight: 550 !important;
}
.btn:hover{
    background-color: #35AF58 !important;
}
.sl{
 
    width: 100%;
    height: 100%;
}
.slide-btn{
width: 100px !important;
}

/* PRODUCT RANGE */

#movingcard{
    padding-left: 30px;
    padding-right: 30px;

}
.cards {
    width: 100%;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    max-width:200rem;
    max-height:200rem;
    margin-top:6rem;
    gap:6rem;

}

.pheading{
    font-family:'Montserrat', sans-serif ;
    color: #35AF58;
    text-align: center;
    font-size: 3rem;
    position: relative;
    top:3rem;
}

.card--1 .card__img, .card--1 .card__img--hover {
    background-image: url("/res/industry.jpg");
}

.card--2 .card__img, .card--2 .card__img--hover {
    background-image: url("/res/smartcity.jpg") ;
}

.card--3 .card__img, .card--3 .card__img--hover {
    background-image: url("/res/household.jpg") ;
}

.card--4 .card__img, .card--4 .card__img--hover {
    background-image: url("/res/smog.jpeg") ;
}

.card--5 .card__img, .card--5 .card__img--hover {
    background-image: url("/res/hospital.jpg") ;
}

.card--6 .card__img, .card--6 .card__img--hover {
    background-image: url("/res/metro.png") ;
}

.card--7 .card__img, .card--7 .card__img--hover {
    background-image: url("/res/commercial.jpg") ;
}

.card--8 .card__img, .card--8 .card__img--hover {
    background-image: url("/res/mall.jpg") ;
}

.card__like {
    width: 18px;
}

.card__clock {
    width: 15px;
  vertical-align: middle;
    fill: #AD7D52;
}
.card__time {
    font-size: 12px;
    color: #AD7D52;
    vertical-align: middle;
    margin-left: 5px;
}

.card__clock-info {
    float: right;
}

.card__img {
    visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  
}

.card__info-hover {
    position: absolute;
    padding: 16px;
    width: 100%;
    opacity: 0;
    top: 0;
}

.card__img--hover {
    transition: 0.2s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    top: 0;
}

.card {
    margin-right: 25px;
    transition: all .8s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: #fff;
    width:40%;
    position: relative;
    left:0.5rem;
    border-radius: 12px;
    overflow: hidden;
    border-radius: 18px;
    border-radius: 18px;
    background: #ffffff;
    box-shadow:  13px 13px 4px #858585, -13px -13px 4px #ffffff;
}

.card:hover {
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
    transform: scale(1.10, 1.10);
}

.card__info {
    z-index: 2;
    background-color: #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 16px 24px 24px 24px;
}

.card__category {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 30px;
    font-weight: 500;
    color: #2a2a2a;
}

.card__title {
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Roboto Slab', serif;
}

.card__by {
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.card__author {
    font-weight: 600;
    text-decoration: none;
    color: #AD7D52;
}

.card:hover .card__img--hover {
    height: 100%;
    opacity: 0.3;
}

.card:hover .card__info {
    background-color: transparent;
    position: relative;
}

.card:hover .card__info-hover {
    opacity: 1;
}


.pheading h1{
    position: relative;
    bottom: 12rem;
}

/* WHCHOOSE US*/

.choose-quote{
    font-family:'Montserrat', sans-serif ;
    text-align: center;
    margin: 8% 0 2% 0;
    color: #35AF58;
    font-size: 3rem;
}
#Choose{
    margin-top:4%;
    border-radius: 5%;
}
.choose-box{
    text-align: center;
    margin: 0% !important;
    color: #564f4f;
    border-radius: 5%;
    margin-bottom: 7% !important;
}
.fav{
    padding-top: 9%;
    padding-bottom: 7%;
    
}

.fav:hover{
   color:#ffffff;
}













/* RESPONSIVE */

@media (min-width:1000px) {
    .dropdown:hover>.dropdown-menu {
        display: block;
      }
      
      .dropdown>.dropdown-toggle:active {
        /*Without this, clicking will make it sticky*/
          pointer-events:none;
      }
}
@media (max-width:1000px) {
    .headline{
        padding-left: 40px !important;
        padding-right: 40px !important;
    }
    .quote,.intro{
        text-align: justify !important;
    }
    .navbar-collapse{
        border-radius: 10px;
        margin: 10px 50px 20px !important;
        background-color:  #35AF58 !important;
    }
    .dropdown{
    margin: 0px !important;
    }
    .nav-item{
        margin: 0;
    }
    .nav-link{
        padding: 10px !important;
        color:#ffffff !important;
        text-align: center !important;
    }
    .nav-link:hover{
        color: #005e11 !important;
    }
    .navbar-brand,.navbar-toggler{
        margin-top: 7%;
    }
    .sl{
        width: 100%;
        height: 250px;
    }
    .card{
        width: 320px;
        height: 400px;
    }

}