.navbar{
    margin-top: 20px;
    padding: 0;
}
.nav-strip{
    width: 800px;
    height: 80px;
    position: absolute;
    top: 16px;
    right: 0;
    z-index: -1;
}
.navbar-nav{
    margin-left: auto;
    border-radius: 10px;
}
.contact{
    margin: 5px;
    height: 25px;
}
.phone{
    margin: 0 5%;
    position: absolute;
    top: -8px;
    right: 200px;
}
.mail{
    position: absolute;
    top: -8px;
    right: 0;
}
.logo{
    height: 80px;
    width: 240px;
    background-color: white;
    border-radius: 10px;
}
.logo:hover{
    background-color: rgb(236, 255, 235);
    border-radius: 10px;
}
.nav-item{
    width: 30%;
    margin: 10px;
    background-color: rgb(20, 155, 20);
    border-radius: 10px;
}
.nav-item:hover{
    border-radius: 10px;
}
.navbar-toggler{
    margin-right: 2%;
    background-color: rgb(255, 255, 255) !important;
}
.navbar-toggler:hover{
    background-color: rgb(20, 155, 20) !important;
}
 .dropdown-menu{
    margin-top: 0 !important;
    border: 0 !important;
    background-color: rgb(20, 155, 20) !important;
} 
.dropdown-item{
    text-align: center !important;
    color: white !important;
    background-color: rgb(20, 155, 20) !important;
    border-radius: 10px !important;
}
.dropdown-item:hover{
    color: rgb(20, 155, 20) !important;
    background-color: rgb(255, 255, 255) !important;
    border-radius: 10px;
}
.nav-link{
    text-align: center;
    border-radius: 10px;
    color:rgb(255, 255, 255) !important;
}
.nav-link:hover  {
    color:rgb(44, 154, 4) !important;
    background-color: rgb(255, 255, 255) !important;
    border-radius: 10px;
}
