
.head-ino{
    position: absolute;
    left: 2rem;
    top: 18rem;
    color: white;
}
.para-ino{
    color: white;
    position: absolute;
    left: 2rem;
    top: 18rem;
    text-align: left;
    margin-top: 50px !important;
}
.img-ino{
    filter: brightness(0.4);
    height: 700px;
}